.DS_Store
*.o
bin/*
venv
*.so
turnstile/_bls*
*.pyc
*.png
.syntastic_c_config
dist
*.egg-info
*.c
build
scripts/turnstile.o*
runs
.ipynb_checkpoints
*.ipynb
data/*.h5
collected
mercer
tmp_cache
scripts/jobs
